<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center border-end border-dark border-2">
        <alloy-code [code]="code" (output)="onCode($event)"></alloy-code>
      </div>
      <div class="col-sm-6 text-center text-wrap">
          <!-- <h4>Usage</h4>
          <div class="container-fluid d-flex flex-column">
              <div class="m-2">
                <h6 class="border border-dark rounded-pill p-2">{{usageString}}</h6>
              </div>
              <div class="m-2">
                <div class="form-group p-2">
                  <label for="tryOut">Try Out</label>
                  <textarea type="text" class="form-control border border-dark rounded" id="tryOut" rows="5" [(ngModel)]="exampleData" (blur)="update()"></textarea>
                </div>
              </div>
              <div class=" m-2">
                <alloy-icon [icon]="example"></alloy-icon>
              </div>
          </div>           -->
      </div>
  </div>
</div>
