<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-center border-end border-dark border-2">
          <h4>Icons</h4>
          <div class="row">
              <div class="col-2 m-1 p-2 text-center border rounded" *ngFor="let i of icons">
                  <button class="btn btn-outline-dark" (click)="iconClick(i)">
                      <alloy-icon [icon]="i"></alloy-icon>
                  </button>
              </div>
          </div>
      </div>
      <div class="col-sm-6 text-center text-wrap">
          <h4>Usage</h4>
          <h6>{{usageString}}</h6>
          <hr>
          <div class="form-group">
              <label for="tryOut">Try Out</label>
              <textarea type="text" class="form-control" id="tryOut" row="2" [(ngModel)]="exampleData" (blur)="update()"></textarea>
          </div>
          <alloy-icon [icon]="example"></alloy-icon>
      </div>
  </div>
</div>
