<div class="container">
    <div class="row mt-2">
        <div class="col-sm-6 text-center border">
            <h1>Input</h1>
            <div class="m-2">
                <alloy-input-text [inputText]="inputText" (output)="getText($event)"></alloy-input-text>
            </div>
            <div class="m-2">
                <alloy-input-icon-text-label [inputIconTextLabel]="inputTextIcon" (output)="getText($event)"></alloy-input-icon-text-label>
            </div>
            <div class="m-2">
                <alloy-input-text-icon-label [inputTextIconLabel]="inputTextIcon" (output)="getText($event)"></alloy-input-text-icon-label>
            </div>
            <div>
                <alloy-searchbar [searchBar]="searchbar"></alloy-searchbar>
            </div>
            <div>
                <alloy-input-file [inputFile]="upload" (output)="getText($event)"></alloy-input-file>
            </div>
            <div>
                <alloy-input-texts [inputTexts]="fields" (output)="getText($event)"></alloy-input-texts>
            </div>
        </div>
        <div class="col-sm-6 text-center border">
            <h1>Usage</h1>
        </div>
    </div>
</div>
