<div class="container">
    <div class="row mt-2">
        <div class="col-sm-6 text-center border">
            <h1>Input</h1>
            <div class="m-2">
                <alloy-input-text [inputTexts]="inputTexts" (output)="getText($event)"></alloy-input-text>
            </div>
            <div class="m-2">
                <alloy-input-text-icon [inputTextIcons]="inputTextIcons" (output)="getText($event)"></alloy-input-text-icon>
            </div>
            <div class="m-2">
                <alloy-input-icon-text [inputIconTexts]="inputTextIcons" (output)="getText($event)"></alloy-input-icon-text>
            </div>
            <div class="m-2">
                <alloy-input-icon-text-label [inputIconTextLabels]="inputTextIcons" (output)="getText($event)"></alloy-input-icon-text-label>
            </div>
            <div class="m-2">
                <alloy-input-text-icon-label [inputTextIconLabels]="inputTextIcons" (output)="getText($event)"></alloy-input-text-icon-label>
            </div>
            <div>
                <alloy-searchbar [searchBar]="searchbar"></alloy-searchbar>
            </div>
            <div>
                <alloy-input-modal [inputModal]="inputModal" (output)="getText($event)"></alloy-input-modal>
            </div>
        </div>
        <div class="col-sm-6 text-center border">
            <h1>Usage</h1>
        </div>
    </div>
</div>
