<div class="row d-flex h-100">
    <div class="sidebar bg-white">
      <alloy-icon-sidebar [iconSideBar]="sideBar"></alloy-icon-sidebar>
    </div>
    <div class="main">
      <div class="container">
        <button
          class="btn btn-outline-dark border-0 bar"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasExample"
          aria-controls="offcanvasExample"
        >
          <alloy-icon [icon]="toggleIcon"></alloy-icon>
        </button>
      </div>
      <div class="container-fluid h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div
    class="offcanvas offcanvas-start"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">CpaGarg</h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body bg-white p-0">
      <alloy-icon-sidebar [iconSideBar]="sideBar"></alloy-icon-sidebar>
    </div>
  </div>
  