<!-- <alloy-clientbar [clientBar]="clientBar" (output)="back($event)"></alloy-clientbar> -->
<alloy-navbar-icon [navBarIcon]="navBar"></alloy-navbar-icon>
<div class="row d-flex h-100 g-0">
  <div class="sidebar bg-white">
    <alloy-icon-sidebar [iconSideBar]="sideBar"></alloy-icon-sidebar>
  </div>
  <div class="main">
    <div class="container-fluid">
      <button
      class="btn btn-outline-dark border-0 bar"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
      >
      <alloy-icon [icon]="toggleIcon"></alloy-icon>
    </button>
      <ul class="nav nav-tabs nav-fill">
          <li class="nav-item" [ngClass]="{' border-bottom border-5 border-dark': selected === 'cell'}">
            <button class="nav-link text-dark" [ngClass]="{'active': selected === 'cell'}" aria-current="page" (click)="setActive('cell')" >Cell</button>
          </li>
          <li class="nav-item" [ngClass]="{' border-bottom border-5 border-dark': selected === 'tissue'}">
            <button class="nav-link text-dark" [ngClass]="{'active': selected === 'tissue'}" (click)="setActive('tissue')" >Tissue</button>
          </li>
          <li class="nav-item" [ngClass]="{' border-bottom border-5 border-dark': selected === 'organ'}">
            <button class="nav-link text-dark" [ngClass]="{'active': selected === 'organ'}" (click)="setActive('organ')" >Organ</button>
          </li>
        </ul>
        <router-outlet></router-outlet>  
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">AlloyMobile</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-white p-0">
    <alloy-icon-sidebar [iconSideBar]="sideBar"></alloy-icon-sidebar>
  </div>
</div>